<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sukses!</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
<div style="margin-top: 10%; text-align: center; "><p class="font-weight-bold">
    <h2 th:text="'Tiket dengan nomor tiket ' + ${nomor} + ' telah dihapus. Pendapatan Konser ' + ${namaKonser} + ' berkurang.'"></h2>
</div>
</div>

<div style="text-align: center; margin-top: 5% ">
    <a th:href="@{/tiket}" class="mx-2 btn btn-primary">Kembali</a>
</div>

</body>
</html>